{% extends "dbapp/base.html" %}

{% block title %}Login{% endblock title %}

{%block content%}
    <div class="row login-form">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center form-heading">Login Form</h2>
            <form class="custom-form">
                <div class="form-group"><input class="form-control" id="cId" type="email" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" id="password" type="password" placeholder="Password"></div>
                </div><button id="setMessageButton" class="btn btn-block btn-dark " style="margin-top: 15px; margin-left: 35%;margin-right: 35%;"type="button">Login</button></form>
        </div>
    </div>
    <script>

      // Connect a the web3 provider
      if (typeof web3 !== 'undefined') {
          web3 = new Web3(web3.currentProvider);
      } else {
          web3 = new Web3(new Web3.providers.HttpProvider("wss://rinkeby.infura.io/ws/v3/30f86b10657249f2b35ee05dd73655f7"));
      }
  ethereum.enable();
  
      // Set a default account
      //web3.eth.defaultAccount =
      //var acc = web3.eth.requestAccounts().then(console.log);
      var myStorage = window.localStorage;

      var acc = web3.eth.requestAccounts().then(function(res){
        var result = res[0];
        myStorage.setItem('address', result);
        return result;
      });
    

     var addressmeta = myStorage.getItem('address');
     
      // Get the contract address
      var RemixContract = new web3.eth.Contract([
{
  "constant": false,
  "inputs": [
    {
      "internalType": "string",
      "name": "_uId",
      "type": "string"
    },
    {
      "internalType": "string",
      "name": "_password",
      "type": "string"
    },
    {
      "internalType": "uint256",
      "name": "_time",
      "type": "uint256"
    }
  ],
  "name": "accCreate",
  "outputs": [
    {
      "internalType": "bool",
      "name": "b",
      "type": "bool"
    }
  ],
  "payable": false,
  "stateMutability": "nonpayable",
  "type": "function"
},
{
  "constant": true,
  "inputs": [
    {
      "internalType": "string",
      "name": "_uId",
      "type": "string"
    },
    {
      "internalType": "string",
      "name": "_password",
      "type": "string"
    }
  ],
  "name": "accLogin",
  "outputs": [
    {
      "internalType": "bool",
      "name": "a",
      "type": "bool"
    }
  ],
  "payable": false,
  "stateMutability": "view",
  "type": "function"
}
]
,'0x4E86fD9f74364EBD22B816951B5c53bB79Dc874A');

      // Get the contract abi
      //var myMessage = RemixContract.at('0xACC2a019Af3EDF9D82B643273d582d67Db7F4048');

      console.log(RemixContract);
      
  $("#setMessageButton").click(function () {
          cId = $("#cId").val();
          password = $("#password").val();       
          RemixContract.methods.accLogin(cId,password).call({
                from:addressmeta}).then(function(response) {
            var result = response;
            alert("Data Sent");
            console.log(result);
            return result;
            });
      });

</script>
    
{%endblock content%}
