<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Deploy a Remix Contract</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/1.4.3/browserfs.js" type="text/javascript"></script>

	
	<!--<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.9/dist/web3.min.js"></script>-->
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" charset="utf-8" type="text/javascript"></script>
    </script>

    
</head>

<body><div class="container " >
    <div>
        <h1>Pushing Data </h1>
    </div>
	<div>
        <h3>Temperature Data</h3>
        <hr>
			<br>
			<form class="form">
				
			<div>
			<label for="custid">Customer ID: </label>
			<input class="form-control" id="custid" type="text"  >
			</div>

			<div>
			<label for="pid">Package ID: </label>
			<input class="form-control"  id="pid" type="text" >
			</div>

			
		</form>
			<br>
            <button  class="btn-success" id="getMessageButton">Get secret message</button>
            
            <hr>
        <form >
            <div >
                <label for="avgtemp">Average Temperature: </label>
                <input class="form-control"  id="temp" type="text" disabled>
                </div>
    
                <div>
                    <label for="message">Time</label>
                    <input class="form-control" id="time" type="text" disabled>
                </div>
    
        </form>
	</div>
</div>

<script>

mnemonic = "{{mne}}"
walletMnemonic = ethers.Wallet.fromMnemonic(mnemonic);

walletPrivateKey = new ethers.Wallet(walletMnemonic.privateKey);

//alert(walletMnemonic.address === walletPrivateKey.address);
// true

// The address as a Promise per the Signer API
walletMnemonic.getAddress();
// { Promise: '0x71CB05EE1b1F506fF321Da3dac38f25c0c9ce6E1' }


console.log("Wallet Address: "+walletMnemonic.address);
//alert("Wallet Address: "+walletMnemonic.address);

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
var abi = [
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_c_num",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_p_id",
				"type": "uint256"
			}
		],
		"name": "fetchtransact",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "a",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "b",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "c",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "d",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_c_num",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_p_id",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_temp",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_time",
				"type": "uint256"
			}
		],
		"name": "newtransaction",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	}
]

var cntradd = '0x902a15f07DbEA287C6DB5579ffB346c6668710CF'

 //= ethers.providers.InfuraProvider.getWebSocketProvider('wss://rinkeby.infura.io/ws/v3/023e22764cb642ad964efa7d8d404f3e');
 var provider = new ethers.providers.InfuraProvider("rinkeby", '023e22764cb642ad964efa7d8d404f3e');

/*let provider = new ethers.providers.InfuraProvider("rinkeby", {
    projectId: '023e22764cb642ad964efa7d8d404f3e023e22764cb642ad964efa7d8d404f3e',
    projectSecret: '68e79fa2ac224b249e50da73a43ee431'
});*/

var wallet = walletMnemonic.connect(provider);



var RemixContract = new ethers.Contract( cntradd , abi , provider);


$("#getMessageButton").click(function () {
			custid1 = $("#custid").val();
			pid1 = $("#pid").val();
			//temp1= $("#temp").val();
			//time1 = $("#time").val();

			var callPromise = RemixContract.fetchtransact(custid1,pid1).then(function(result){
			alert("Fetching Data from Blockchain!");
			console.log(result);
            $("#temp").val(result.c);
            $("#time").val(result.d);
            return result;
			});
        });
/*console.log(RemixContract);

var sendPromise = RemixContract.newtransaction(88,100,22,44);
console.log("Send Promise : "+sendPromise);

walletMnemonic.signTransaction(sendPromise);

wallet.sendTransaction(sendPromise);*/


    
/*sendPromise.then(function(transaction){
    walletMnemonic.signTransaction(sendPromise);
//walletMnemonic.signTransaction(transaction);
    console.log(transaction);
});*/


const mnemonic1 = fs.readFileSync(".secret").toString().trim();
alert(mnemonic);
</script>

	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>